@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0f0f0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  height: 70px;
  padding: 0 30px;
}

.logo-container .logo {
  width: 60px;
}

.profile-container img {
  border-radius: 50%;
  max-width: 50px;
  margin-left: 15px;
  cursor: pointer;
}

.username {
  cursor: pointer;
}

#profile-link {
  display: none;
}

.header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 30px;
}

.aside {
  width: 25%;
  margin-left: 35px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 70vh;
}

.calculator {
  display: none;
}

.input-field {
  width: 50%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.calculate-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown > a {
  display: block;
  padding: 15px 20px 15px 30px;
  color: #333;
  text-decoration: none;
  position: relative;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.icon-arrow {
  float: right;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown.open .dropdown-menu {
  display: block;
  color: #333;
  text-decoration: none;
  position: relative;
  width: 100%;
}

.dropdown-menu a {
  padding: 15px 20px 15px 50px;
  color: #333;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a:hover,
.dropdown > a:hover {
  background-color: #ddd;
}

.active {
  background-color: #ddd;
}

/* Menambahkan kelas 'active-dropdown' saat dropdown diklik */
.dropdown.active-dropdown > a {
  background-color: #ddd;
}

/* Menambahkan kelas 'active-menu' saat menu dropdown diklik */
.dropdown-menu a.active-menu {
  background-color: #ddd;
}

.activeSec {
  display: flex;
  width: 75%;
  margin-right: 35px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  height: 70vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-square {
  width: 200px;
  height: auto;
}

.img-rectangle {
  width: 400px;
  height: auto;
}

.calculator p{
  font-size: 1.5rem;
  font-weight: 500;
}
